.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh; /* optional: set height to center vertically */
    font-family: sans-serif;
  }
  